html, body, #root {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    padding: 0px 30px;
    margin-top: 140px;
}

footer {
    padding: 0px 30px;
}

/* My colors */
:root {
    --main-red: #BC938B;
    --main-green: #898E77;
    --med-red: #D1B2AD;
    --light-red: #D9D1CF;
    --sky-blue: #BBD2D0;

    --purple-sunset: #A7A4BB;
    --orange-sunset: #EFBAA2;
    --yellow-sunset: #F2EFD2;

    --sunset-overlay: linear-gradient(180deg, var(--purple-sunset), var(--med-red), var(--orange-sunset), var(--yellow-sunset));
}

.main-red {
    color: var(--main-red);
}

.main-green {
    color: var(--main-green);
}

.med-red {
    color: var(--med-red);
}

.light-red {
    color: var(--light-red);
}

.sky-blue {
    color: var(--sky-blue);
}

.white {
    color: white;
}

.font {
    font-family: kigelia-arabic, sans-serif;
    font-weight: 800;
    font-style: normal;
}

.handwriting {
    font-family: verveine, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 64px;
}

h2, .title {
    font-size: 47px;
    margin: 0px;
}

.para, p {
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.subtitle {
    font-size: 28px;
}

button:hover {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

input:focus {
    outline: none;
}

/* Header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 15px 0px 10px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    background-color: white;
}

/* Menu */
.menu-overlay {
    position: fixed;
    top: 0;
    z-index: 5;
}

.menu-overlay svg {
    margin-top: 25px;
    margin-bottom: auto;
    margin-left: 30px;
}

.menu-open {
    height: 100vh;
    width: 100vw;
    background-color: rgba(217, 209, 207, 0.65);
}

.menu-white {
    height: 100%;
    width: 20%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
}

.menu-white div {
    padding-top: 30px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}

/* Hero */
.hero {
    margin: 18vh auto 4vh auto;
    text-align: center;
}

.hero hr {
    background-color: var(--main-red);
    height: 4px;
    border-width: 0; 
    width: 50%;
    margin: 40px auto;
}

.sun:hover line, .sun:hover path:last-of-type {
    stroke-dasharray: 100;
    stroke-dashoffset: 1000;
    animation: zoom 10s linear forwards;
}

@keyframes zoom {
    to {
        stroke-dashoffset: 0;
    }
}

.mid {
    background-color: var(--main-red);
    padding: 80px 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.mid div {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin-left: 4vw;
}

.mid div p:first-of-type {
    margin-bottom: 50px;
}

.sectionPreview {
    z-index: -5;
    height: 100%;
}

.preview {
    background-image: url("./assets/calendar-preview.JPG");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 900px;
    width: 100%;
    z-index: -5;
}

.login-section {
    padding: 100px 200px;
    background-color: var(--main-green);
    text-align: center;
}

.login-section hr {
    background-color: white;
    height: 3px;
    border-width: 0;
    width: 45%;
}

.login-section div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-section div button, .login-section div button a {
    font-size: 1.5vw;
    transition: .3s ease;
    color: var(--main-red);
}

.login-section div button:hover {
    color: white;
    background-color: var(--main-red);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
}

.login-section div button:hover a {
    color: white;
}

.btn-select {
    width: 15%;
    padding: 15px 45px;
    border: none;
    border-radius: 50px;
    margin-bottom: 50px;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: flex-end;
    flex-shrink: 0;
}

footer p {
    margin: 10px 0px;
}

/* Login & Sign up */
.overlay-background {
    background-image: var(--sunset-overlay);
    height: 100vh;
}

.overlay-container {
    display: flex;
    background-color: white;
    box-shadow: 0 4px 8px 0 var(--main-red);
    border-radius: 10px;
    width: 65%;
    margin: 11vh auto 12vh auto;
    padding: 7vh 0px 7vh 0px;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 2;
}

.overlay-container form, .overlay-container article {
    display: flex;
    flex-direction: column;
    flex-basis: 45%;
}

.overlay-container form input, .overlay-container article textarea {
    border: 4px solid var(--main-red);
    border-radius: 5px;
    margin-bottom: 4vh;
}

.overlay-container form h2 {
    margin-bottom: 10vh;
}

.overlay-container form .green-btn, .overlay-container article .green-btn {
    align-self: flex-end;
    justify-self: flex-end;
    margin-top: 7vh;
}

.signon-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.green-btn {
    color: white;
    border: none;
    border-radius: 20px;
    background-color: var(--main-green);
    padding: 7px 18px;
    transition: .3s ease;
}

.green-btn:hover {
    background-color: var(--main-red);
}

/* MyPlanner */
.today {
    margin-left: 50px;
}

/* Calendar */
.calendar {
    margin: 10px 75px;
    padding: 30px;
    box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.25) inset;
    border-radius: 20px;

}

.calendar-top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
}

.calendar-top p {
    width: 300px;
    text-align: center;
}

.calendar-top button {
    border-radius: 100px;
    border: none;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.25);
    padding: 10px 13px;
}

.days {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px auto;
}
/* Day Layout */
.day {
    width: 11.7vw;
    height: 6vw;
    border: 2px solid var(--main-red);
    padding: 5px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.addEventBtn {
    visibility: hidden;
    border: none;
    background-color: none;
    border-radius: 100px;
}

.day:hover {
    overflow-y: auto;
}

.day:hover .addEventBtn {
    visibility: visible;
    cursor: pointer;
}

.date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.date span {
    margin-right: 0;
    margin-left: auto;
    color: var(--main-red);
}

/* Event form overlay */
.event-background {
    background-image: var(--sunset-overlay);
    opacity: 80%;
    bottom: 0;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

.event-form {
    flex-direction: column;
    padding: 3vh 5vh 6vh 5vh;
    margin-top: 8vh;
}

.event-form .onCloseBtn {
    margin-bottom: 5vh;
    align-self: flex-end;
}

.event-form div:first-of-type, .event-form article:first-of-type {
    display: flex;
    justify-content: space-around;
}

.eventFlower {
    width: 40%;
}

.eventList {
    display: flex;
    flex-direction: column;
}

.eventList a {
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 0px 10px;
    white-space: nowrap;
}

.eventList a:hover {
    cursor: pointer;
}

.event-default {
    background-color: gray;
}

.warningDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 60%;
}

.dropdown section:first-of-type {
    border: 3px solid var(--main-red);
    border-radius: 5px;
}

.dropdown-content {
    background-color: white;
    border: 3px solid var(--main-red);
    display: none;
    position: absolute;
    z-index: 1;
    width: 97%;
    max-height: 13vh;
    overflow-y: scroll;
}

.dropdown-content p, .dropdown-content button {
    display: block;
    transition: .5s ease;
}

.dropdown-content input {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.category-list {
    padding: 4px 0px 3px 0px;
    border-bottom: 2px solid var(--main-red);
    transition: .5s ease;
}

.category-list:hover, .dropdown-content button:hover {
    cursor: pointer;
    background-color: var(--light-red);
    width: 100%;
}

.cat-btn {
    border: none;
}

.radio-btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-start !important;
}

.radio-btns div {
    height: 40px;
    width: 40px;
    border-radius: 100px;
    border: none;
    margin: 5px 15px 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-btns div:hover {
    cursor: pointer;
}

.radio-btns div span {
    color: gray;
}

.red, .radio-btns div .red {
    background-color: #BC938B;
}

.orange {
    background-color: #D4BC9F;
}

.lt-green {
    background-color: #CAD1AF;
}

.green {
    background-color: #898E77;
}

.lt-blue {
    background-color: #B0D1CE;
}

.blue {
    background-color: #788F8D;
}

.purple {
    background-color: #B3A0B9;
}

.pink {
    background-color: #DFC3C3;
}